---
 const articles = [
  {
    title: 'Como escribir mejores commits',
    description: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta blanditiis esse doloremque at totam voluptas deleniti impedit iste quasi, cum culpa quos rem odio corrupti perspiciatis soluta maxime ex fugit.',
    url: 'asasa'
  }
 ]
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div class="h-10 w-full bg-gray-700 rounded-md">
  </div>

</article>
